
wheel
kafka-python
requests
elastic-apm
Flask
Flask-RESTful
Flask-Security
gunicorn
Jinja2
pytest
requests
certifi
pyrsistent==0.16.1;python_version<"3.0"
pyrsistent;python_version>"3.0"
jsonschema
protobuf
pydantic